<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Olvidé mi Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" padding>
  <ion-item lines="none">
    <ion-label position="floating">Nombre de Usuario</ion-label>
    <ion-input [(ngModel)]="usuario"></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="generateNewPassword()">Generar Nueva Contraseña</ion-button>

  <ion-item *ngIf="nuevaContrasena" lines="none">
    <ion-label position="floating">Nueva Contraseña</ion-label>
    <ion-input [(ngModel)]="nuevaContrasena" readonly></ion-input>
    <ion-button (click)="copyToClipboard(nuevaContrasena)">Copiar</ion-button>
  </ion-item>

  <ion-button *ngIf="nuevaContrasena" expand="block" (click)="goToLogin()">Volver al Login</ion-button>

  <ion-item *ngIf="mensaje" lines="none">
    <ion-label color="danger">{{ mensaje }}</ion-label>
  </ion-item>
</ion-content>
